/* Căn canvas ra giữa màn hình */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* THU NHỎ CANVAS 1684x2384 CHO VỪA MÀN HÌNH */
canvas {
  height: 90vh !important;   /* cao ≈ 90% màn hình, ĐÈ inline style */
  width: auto !important;    /* tự giữ tỉ lệ, không méo */
  display: block;
}
