/* Căn giữa poster */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* FULL HEIGHT – KHÔNG MÉO */
canvas {
  height: 100vh;   /* full chiều cao */
  width: auto;     /* auto để đúng tỉ lệ 1684x2384 */
  display: block;
}
