html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  justify-content: center;   /* canh ngang */
  align-items: center;       /* canh dọc */
}

/* Canvas luôn bé lại để vừa màn hình, KHÔNG cắt, KHÔNG zoom */
canvas {
  max-width: 90vw;   /* không rộng hơn 90% màn hình */
  max-height: 90vh;  /* không cao hơn 90% màn hình */
  width: auto;
  height: auto;
  display: block;
}
